*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    flex: 2;
    background-color: lightblue;
    text-align: center;
    height: 89vh;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a:hover{
    background: #1b9bff;
    transition: .5s;
}
.createTitle{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.button {
    background-color: #0082e6;
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #0082e6;
  }
  
.button1:hover {
    background-color: #0082e6;
    color: white;
}
.textstyle{
    font-size: 26px;
}